---
layout: default
---
<!-- Page Header -->

<!-- Post Content -->
<article>
<div class="container-fluid">
<div class="row">
<div class="col-lg-8 col-md-10 mx-auto">{{content}}</div>
</div>
 <div class="clearfix">
 {% if page.previous %}
        <a class="btn btn-primary float-left" href="{{page.previous.url}}">&larr; 上一篇： {{page.previous.title}}</a>
        <a class="btn btn-primary float-right" href="{{page.next.url}}">下一篇： {{page.next.title}} &rarr;</a>
        {% endif %}
      </div>
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
 
      </div>
    </div>
  </div>
</article>

<hr>